{#
/**
 * @file
 * Wrapper for the Commerce cart block (suggestion added in
 * smartgrids_theme_theme_suggestions_block_alter()).
 */
#}
<div{{ attributes.addClass('cart-block') }}>
  {{ title_prefix }}
  {{ title_suffix }}
  {{ content }}
</div>
